.container {
    display: flex;
    flex-direction: row;
}

.container > * {
    height: 100vh;
    border: 1px solid black;
    padding: 10px;
}

.left {
    width: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}

.right {
    flex-grow: 1;
    flex-shrink: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 85px);
    gap: 10px;
    min-height: 110px;
}

.page {
    border: 1px solid gray;
    width: 85px;
    height: 110px;
    text-align: center;
    line-height: 110px;
    cursor: pointer;
}

.invisible {
    opacity: 0.25;
}

.page:hover {
    background: teal;
    color: white;
}

.drag-target {
    background-color: blue;
    color: white;
}